.viewer__inner {
  position: relative;
  width: 100%;
  height: 700px;
  canvas, video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.viewer__footer {
  display: flex;
  justify-content: space-between;
}
